* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
}

nav a {
  padding-right: 1.5em;
}

li {
  list-style: none;
}

ul {
  display: flex;
}

a {
  text-decoration: none;
}

img {
  display: block;
  height: 100px;
  margin: 2em auto;
}

p:first-of-type {
  font-size: 2em;
  font-weight: bold;
}

p {
  font-size: 1.2em;
  font-weight: normal;
}

.button {
  display: inline-block;
  margin-top: 1em;
  padding: 1em;
  border: solid 2px #000;
  border-radius: 3px;
  color: #000;
  font-size: 1em;
}

.button:hover {
  padding: 1.5em;
}
